<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">


  <div class="row">
    <div class="col">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          
          <div class="card-body">
            <div class="container">
              
            
            <form  (ngSubmit)="submit()">
            
              
              <div class="pl-lg-12">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">producto:</label>
                      <br/>

                      <select (change)="changeWebsite($event)">
                          <option disabled>Seleccione un producto</option>
                          <option *ngFor="let web of websiteList">{{web.CodigoProducto}}</option>
                      </select>


                      <!-- <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse"> -->
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="descripcion">Descripcion:</label>
                      <br/>
                      <label class="form-control-label" for="input-descripcion">{{prodDscripcion.value }}</label>
                      
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="precioUnitario">Precio Unitario:</label>
                      <br/>
                      <label class="form-control-label" for="input-precioUnitario">{{prodPrecioUnitario.value }}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-cantidad">cantidad:</label>
                      <input type="number" id="input_cantidad"  class="form-control form-control-alternative" placeholder="0" value="" (blur) = "valorOrden($event)">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-descuento">Descuento:</label>
                      <br/>
                      <label class="form-control-label" for="input-descuento">{{prodDescuento.value }}</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="presioTotal">Precio Total:</label>
                      <br/>
                      <label class="form-control-label" for="input-presioTotal">{{prodPrecioTotal.value }}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="cantidadDisponible">Cantidad Disponible:</label>
                      <br/>
                      <label class="form-control-label" for="input-cantidadDisponible">{{prodCantidadDisponible.value }}</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="fechaPrevista">Fecha Prevista:</label>
                      <input type="date" id="input-fechaPrevista" class="form-control form-control-alternative" placeholder="" value="" (change) = "seleccionarFecha($event)">
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <a (click) = "guardarOrden()" class="btn btn-sm btn-primary">Ordenar</a>
                  <!-- <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button> -->
                </div>
              </div>
              <hr class="my-4" />
              
            </form>
          </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>
