<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">


  <div class="row">
    <div class="col">
      <div >
    <ngb-accordion #acc="ngbAccordion" >
      
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Kardex Materia Prima</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/5f9b7def-1c8b-4989-928d-42f157437567/page/cJVbB" allowfullscreen></iframe>
            </div>
        </ng-template>
      </ngb-panel>
      
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Kardex Producto Terminado</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/cb7e0cf4-88a8-43bd-8173-03bc904c31ab/page/cJVbB" allowfullscreen></iframe>
            </div>
        </ng-template>
      </ngb-panel>
      
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Kardex Insumos</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/fb9eef97-f852-44bf-b284-37684c221349/page/cJVbB" allowfullscreen></iframe>
              </div>
          
        </ng-template>
      </ngb-panel>
      
      
      
    </ngb-accordion>
  </div>
</div>
</div>
</div>
