<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">


  <div class="row">
    <div class="col">
      <div >
    
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/c466a0fe-9c73-49fc-a446-af4f86e2a6a7/page/MnycB" allowfullscreen></iframe>
              </div>
      
  </div>
</div>
</div>
</div>
