<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">


  <div class="row">
    <div class="col">
        <div class="card bg-secondary shadow">
            <br/>
            
            <span> &nbsp; &nbsp;  Los insumos sobre-abastecidos son los que su saldo actual supera las salidas del insumo en los últimos dos meses.</span>
            <br/>
            <br/>
          <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/780a66e6-b744-4834-b7b1-165f4ef46637/page/U9cbB" allowfullscreen></iframe>
            </div>
       
  </div>
</div>
</div>
</div>
