<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">


  <div class="row">
    <div class="col">
      <div >
    
          <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/c5c28b8b-7bbf-4764-8d3d-aaf8ada71221/page/q68aB" allowfullscreen></iframe>
            </div>
        
  </div>
</div>
</div>
</div>
