<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">


  <div class="row">
    <div class="col">
      <div  >

          <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/cce6abb2-dee9-46da-a7c9-4c4852746c04/page/q68aB" allowfullscreen></iframe>
            </div>
       
  </div>
</div>
</div>
</div>
